* {
	margin: 0;
	padding: 0;
}


body {
/*background: #070000;  
background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000); 
background: linear-gradient(to right, #070000, #4C0001, #070000); */
background: #870000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



font-family: 'Playfair Display', serif;
color: #999;

}

#bodywrap {
	background: #fff;
	height: auto;
	width: 95%;
}

/* Header */


.navbar-brand {
	font-family: 'Old Standard TT' serif;
	color: #F18930;
	font-size: 2rem;

}

.navbar-nav {

font-family: 'Playfair Display', serif;
color: #999;
padding: 0 8rem;
font-size: 1.4rem;

}

/* Top image */

.topmain {
	
	margin: 0 auto;
	width: 80%;


}

  



.jumbotron{
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 90px;
  padding-bottom: 90px;
  background: url('img/bg2.jpeg') 0 -80px;
  color: #fff;
  
}

.jumbotron a.btn {
   background:#ccc;
   color: purple;
   border:none;
   
}

.jumbotron a.btn:hover{
	background: purple;
	color: #ccc;
	border:none;
}



/* Info */
#info {
background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 100%;
height: auto;
margin-top: 10px;

}

#info p {
	color: #fff;
	margin-top: 30px;
	padding: 0 1em;
	font-size: 1.2rem;
}

#info h3 {
	color: #fff;
	margin-top: 10px;
	font-size: 2.5rem;
}


#infophoto{
	width: 100%;

}



#team {
	margin-top: 10vh;
	height: auto;
	margin-bottom: 60px;
	

}

#team h1 {

	width: 30%;
	margin: 0 auto;
   	font-family: 'Playfair Display', serif;
 
	
}

#teamrow {
	margin-top: 35px;
}
#team p {
	font-size: 1.1rem;
	padding: 1em 2em;
	font-weight: 1em;
	border: 1px solid #ccc;
	font-family: 'Playfair Display', serif;
	margin: 15px auto 0 15px;
}



iframe{
	height: 60vh;
	width: 100%;
}

.teamphoto{
	height: auto;
	width: 40%;
}

#shopinfo {
background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 100%;
height: 30vh;
color: #fff;
}


/*gallery*/

#gallery{

  max-width: 760px;
  margin: auto;
  border: #fff solid 3px;
  background: #fff;
}

.main-img img {
	width: 50%;
	margin: 0 13vw;

}
.imgs img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

.wrapsec {
	width: 95%;
	margin: 3vh auto;
}


#left {
	float: left;
	width: 45%;
}

#right {
	float: right;
	width: 45%;
}  




footer {
height: 10vh;
background:background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100%;
color: #fff;
text-align: center;
padding-top: 30px;
}



/* Media Query Section */

@media only screen and (min-width: 240px) and (max-width: 457px) {


.navbar-brand {
	width: 100%;

}

.navbar-nav{
	margin: 0 auto;
	width: 50%;
}

.jumbotron a.btn{
	width: 75%;
}


}


@media only screen and (min-width: 768px) and (max-width: 1120px) {

 #info p{
 	width: 100%;
 }




@media only screen and (min-width: 240px) and (max-width: 768px) {

.bgphoto button {
	margin-left: 30vw;

  }

}



}

